<div id="<%= dom_id ebook %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= ebook.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= ebook.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= ebook.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= ebook.genre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Isbn:</strong>
    <%= ebook.isbn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= ebook.price %>
  </p>
</div>
