<!DOCTYPE html>
<html>
  <head>
    <title>RailsLearningBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <div>
      <%= render "layouts/navbar" %>
    </div>
    <main class="container mx-auto mt-16 px-5 flex max-w-screen-xl">
      <%= yield %>
    </main>
  </body>
</html>
